.item {
  border: solid 2px;
  max-width: 150px;
  width: 150px;
  max-height: 300px;
  height: 325px;
  padding: 5px;
  margin: 10px;
  background-color: #fff;
}

.item-image {
  display: block;
  border: solid 1px;
  max-height: 150px;
  height: 150px;
  max-width: 137px;
  width: 150px;
  padding: 1px;
  margin-right:80px;
}
.item-name {
  text-align: center;
  max-height: 100px;
  height: 100px;
}
.item-price {
  border: solid 1px;
  text-align: center;
}

a {color:inherit;}  
