nav {
  background-color: #333 !important;
  padding-bottom: 5px;
}

#main {
  padding-top: 70px;
}

.navelem {
  color: #ffffff !important;
  letter-spacing: 1px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    border: solid 2px;
    background-color: #ff3b3f !important;
}
