body {
  margin-top: 25px;
  background-color: #efefef;
  font-family: "Verdana", serif;
  background: url('./../sources/images/wallpaper.jpg');
}

#hub > .header {
  text-align: center;
  border-bottom: solid 1px;
  margin-bottom: 5px;
}
