.panel-default > .panel-heading {
  color: #fff;
  background-color: #36454f;
}

.panel-default {
  border: solid 1px;
  border-color: #000 !important;
}

.cart-cost {
  width: inherit;
  text-align: center;
  padding-top: 10px;
}

.elem {
  text-align: right;
  border-bottom: solid 1px;
  padding-bottom: 20px;
  padding-right: 10px;
}

#checkout-link {
  text-align: center;
  border: solid 2px;
  padding: 5px;
  margin: 2px;
  color: inherit;
}

#checkout-link > a {
  color:inherit;
}

#purchase-link {
  text-align: center;
  border: solid 2px;
  padding: 5px;
  margin: 2px;
  color: inherit;
}

#purchase-link > a {
  color:inherit;
}
